body {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    padding: 10px;
    border: solid 2px black;
    border-radius: 10px;
}

.container h1 {
    font-weight: normal;
    text-decoration: underline;
}

.chart {
    position: relative;
    height: 50vh;
    width: 45vw;
}
